/* get rid of padding and margins */
html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* position: static; */
    scroll-behavior: smooth;
    }
    @media screen and (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }

/* navbar styling in base.html */
 .navbarUl {
    list-style-type: none;
    margin: 10px;
    padding-right: 75px;
    overflow: hidden;
    background-color: transparent;
    top: 0;
    left: 0;
}

.navbarLink{
    float: right;
    text-shadow: black 0px 0px 10px;  
}

a + a{
    margin-left: 20px;
}



.navbarLink a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbarLink a:hover {
    background-color: #D98E32;
    color: white;
    text-shadow: black 0px 0px 10px;
    
}





/* main body */

.contentWrapper{
    display: flex;
    flex-direction: column;
}

.welcomeContainer{
    height: 100vh;
    text-align: left;
    color: white;
    text-shadow: black 1px 0px 15px;
    font-family: 'Raleway', sans-serif;
    /* background image & gradient */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0.65) 100%), url("background2.jpg") no-repeat;
    background-size: cover;
}

/* make text transitioning effects */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
    }
    
.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
    }
    
.fade-in.three {
    -webkit-animation-delay: 2.3s;
    -moz-animation-delay: 2.3s;
    animation-delay: 2.3s;
    }



.socialMediaLinks{
    -webkit-animation-delay: 2.3s;
    -moz-animation-delay: 2.3s;
    animation-delay: 2.3s;
}

.socialMediaLinks span{
    color: white;
}

/* social media link hover color and hover effects */
a:link {text-decoration: none; color: white;}
a:visited { text-decoration: none; color:white;}
a:hover { text-decoration: none; color:#D98E32;}
a:focus { text-decoration: none; color:white;}
a:hover, a:active { text-decoration: none; color:#D98E32}
a, u{
    text-decoration: none;
}


.welcomeContainer h1{
    font-size: 175px;
    padding-top: 25px;
    padding-left: 50px;
    margin: 0;
}

.welcomeContainer h2{
    font-size: 100px;
    padding-left: 100px;
    margin: 0;
}

.welcomeContainer h3{
    font-family: 'Open Sans', sans-serif;
    text-shadow: black 0px 0px 10px;
    color: white;
    font-size: 75px;
    padding-left: 100px;
    padding-top: 0
}

.fade-in.three{
    padding-left: 100px;
    margin: 0;
    font-size: 50px;
}

.project{
    text-align: center;
    height: 130vh;
    width: auto;
    background-color: rgb(0, 0, 0.65);
    font-family: 'Raleway', sans-serif;
    color: white;
}

.project h1{
    font-family: 'Raleway', sans-serif;
    text-shadow: black 0px 0px 10px;
    color: white;
    font-size: 50px;
    padding-left: 100px;
    margin: 0;
}

#projectFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto; 
    padding-top: 5px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: black 0px 0px 10px;
    
    
}

#projectPhotoPreview{
    background-image: url("yardsPreview.png");
    background-size: cover;
    height: 48vh;
    width: 48vw;
    border-radius: 8px;
}

#projectPhotoPreview:hover {
    border-bottom: 10px;
    animation-duration: 0.75s;
    border-bottom: 8px solid #D98E32;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#projectInformation {
    height: 85vh;
    width: 48vw;
    padding-left: 10px;

}

#projectInformation h2{
    font-size: 30px;
}

#projectInformation p{
    font-size: 20px;
}

#projectInformation ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
     
}

#projectInformation li{
    list-style-position: inside;
}

    

.aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 105vh;
    text-align: left;
    color: white;
    text-shadow: black 1px 0px 15px;
    font-family: 'Raleway', sans-serif;
    /* background image & gradient */
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 30%, rgb(0, 0, 0.65) 100%), url("aboutMeBackground.jpg") no-repeat;

    /* background-image: url("aboutMeBackground.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    
}

.aboutMe h1{
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}

.aboutMeContent{
    text-align: center;
    padding: 10px;
    height: auto;
    width: 30vw;
    background-color: rgb(217, 142, 50, .65);
}

.aboutMe p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    
}










/* style for responsiveness and mobile */
@media(max-width: 767px){
    .navbarUl {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center; 
        white-space: nowrap;
        padding: 0;
    }
    .navbarLink a {
        font-size: 15px;
    }

    .welcomeContainer{
        height: 100vh;
        text-align: left;
    }

    .welcomeContainer h1{ 
        font-size: 90px;
        padding-top: 60px;
        padding-left: 10px;
        margin: 0;
    }
    
    .welcomeContainer h2{
        font-size: 55px;
        padding-left: 35px;
        margin: 0;
    }
    
    .welcomeContainer h3{
        font-family: 'Open Sans', sans-serif;
        text-shadow: black 0px 0px 10px;
        color: white;
        padding-left: 35px;
        margin: 0;
        font-size: 30px;
    }

    
    .fade-in.three{
        padding-left: 35px;
        margin: 0;
        font-size: 30px;
    }


    

    .project{
        height: auto;
    }

    .project h1{
        padding: 0;
    }

    #projectFlex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: auto; 
        padding-top: 5px;
        font-family: 'Open Sans', sans-serif;
        text-shadow: black 0px 0px 10px; 
        
    }

    #projectPhotoPreview{
        background-image: url("yardsPreview.png");
        background-size: cover;
        height: 25vh;
        width: 80vw;
        border-radius: 8px;
    }

    #projectPhotoPreview:hover {
        border-left: 10px;
        border-bottom: none;
        animation-duration: 0.75s;
        border-left: 8px solid #D98E32;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    #projectInformation{
        width: 90vw;
        height: auto;
    }

    .aboutMe{
        padding-top: 200px;
        height: 130vh;
    }

    .aboutMeContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 80vw;
        height: auto;
        padding: 10px;
        margin: 0;
        
    }

}