/* get rid of padding and margins */
html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: static;
    }

/* navbar styling in base.html */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    top: 0;
    left: 0;
}

li{
    float: right;
    
}

.navbarLink li {
    text-shadow: white 0px 0px 10px;
}


li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover {
    background-color: #403f3c;
    color: white;
    text-shadow: black 0px 0px 10px;
    
}


/* main body */

.contentWrapper{
    display: flex;
    flex-direction: column;
}

.welcomeContainer{
    height: 100vh;
    text-align: left;
    color: white;
    text-shadow: black 1px 0px 15px;
    font-family: 'Raleway', sans-serif;
    /* background image & gradient */
    background-repeat: no-repeat;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("background2.jpg") no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url("background2.jpg") no-repeat;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("background2.jpg") no-repeat;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("background2.jpg") no-repeat;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("background2.jpg") no-repeat;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("background2.jpg") no-repeat;
    background-size: cover;
}

/* make text transitioning effects */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
    }
    
.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
    }
    
.fade-in.three {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    animation-delay: 2.5s;
    }

.welcomeContainer h1{
    font-size: 175px;
    padding-top: 25px;
    padding-left: 50px;
    margin: 0;
}

.welcomeContainer h2{
    font-size: 100px;
    padding-left: 100px;
    margin: 0;
}

.welcomeContainer h3{
    font-family: 'Open Sans', sans-serif;
    text-shadow: black 0px 0px 10px;
    color: white;
    font-size: 50px;
    padding-left: 100px;
    margin: 0;

}

.projectsContent{
    text-align: center;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.65); 
}

.projectsContent{
    font-family: 'Raleway', sans-serif;
    color: white;
}
